<div class="header">
  <h1 class="header__logo">
    <a routerLink="/home">
      <img class="header__logo__img" src="/assets/icon.png" alt="Web Livros" />
    </a>
  </h1>
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="list__item">
        <a
          class="list__item-action"
          routerLink="/home"
          routerLinkActive="selected"
        >
          Home
        </a>
      </li>
      <li class="list__item">
        <a
          class="list__item-action"
          routerLink="/titulos"
          routerLinkActive="selected"
        >
          Titulos
        </a>
      </li>
      <!-- <li class="list__item">
        <a class="list__item-action" routerLink="/contato"  routerLinkActive="selected"> Contatos </a>
      </li> -->
    </ul>
  </nav>
  <div class="header__filter">
    <div class="p-inputgroup">
      <input type="text" placeholder="Pesquisar" class="input" />
      <button
        class="button__input"
        type="button"
        pButton
        pRipple
        icon="pi pi-search"
        styleClass="p-button-warn"
      ></button>
    </div>
  </div>
  <div class="card">
    <a
    (click)="op.toggle($event)"
     class="card__button">
     <i class="pi pi-shopping-cart"
        style="font-size: 1.3rem"
        pBadge
        [value]="products.length+ ''"
        severity="secondary"
        ></i>
    </a>
    <!-- <p-button
      label=""
      [badge]="products.length + ''"
      icon="pi pi-shopping-cart"

      class="card__button"
    ></p-button> -->

    <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '450px' }">
      <ng-template pTemplate>
        <p-table
          [value]="products"
          selectionMode="single"
          [paginator]="true"
          [rows]="5"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name<p-sortIcon field="name"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-product>
            <tr [pSelectableRow]="rowData">
              <td>{{ product.name }}</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-overlayPanel>
  </div>
</div>
