<div class="header">
  <h1 class="header__logo">
    <a routerLink="/home">
      <img class="header__logo__img" src="/assets/icon.png" alt="Web Livros" />
    </a>
  </h1>
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="list__item">
        <a class="list__item-action" routerLink="/home" routerLinkActive="selected"> Home </a>
      </li>
      <li class="list__item">
        <a class="list__item-action" routerLink="/titulos"  routerLinkActive="selected"> Titulos </a>
      </li>
      <li class="list__item">
        <a class="list__item-action" routerLink="/contato"  routerLinkActive="selected"> Contatos </a>
      </li>
    </ul>
  </nav>
  <div class="header__filter">
    <div class="p-inputgroup">
      <input type="text" pInputText placeholder="Pesquisar"  class="input"/>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-search"
        styleClass="p-button-warn"
      ></button>
    </div>
  </div>
</div>
