<div class="header">
  <h1 class="header__logo">
    <a routerLink="/home">
      <img class="header__logo__img" src="/assets/icon.png" alt="Web Livros" />
    </a>
  </h1>
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="list__item">
        <a
          class="list__item-action"
          routerLink="/home"
          routerLinkActive="selected"
        >
          Home
        </a>
      </li>
      <li class="list__item">
        <a
          class="list__item-action"
          routerLink="/titulos"
          routerLinkActive="selected"
        >
          Titulos
        </a>
      </li>
      <!-- <li class="list__item">
        <a class="list__item-action" routerLink="/contato"  routerLinkActive="selected"> Contatos </a>
      </li> -->
    </ul>
  </nav>
  <div class="header__filter">
    <div class="p-inputgroup">
      <input type="text" placeholder="Pesquisar" class="input" />
      <button
        class="button__input"
        type="button"
        pButton
        pRipple
        icon="pi pi-search"
        styleClass="p-button-warn"
      ></button>
    </div>
  </div>
  <div class="card">
    <a (mouseenter)="op.show($event)"  (mouseleave)="op.hide()" class="card__button-action">
      <i
        class="pi pi-shopping-cart"
        style="font-size: 1.3rem"
        pBadge
        [value]="products.length + ''"
        severity="secondary"
      ></i>
      <span class="card__button-text"></span>
    </a>
    <p-overlayPanel #op [style]="{ width: '500px' }">
      <ng-template pTemplate>
        <ul class="card__list">
          <li class="list">
            <div class="list__line">
              <img alt="Card" class="card-image" src="/assets/teste.jpg" />
            </div>
            <div class="list__line" style="width: 100%">
              O Herói de Mil Faces
            </div>
            <div class="list__line" style="width: 10em">R$ 555,55</div>
          </li>
        </ul>
        <div class="card__footer">
          <div>
            <p class="price_total">Total: R$ 555,55</p>
            <p class="qtd__product">
              {{ products.length }} produtos no carrinho
            </p>
          </div>
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>
  <div class="login">
    <a class="login__button">
      <i class="pi pi-user"  style="font-size: 1.3rem"></i>
        <p class="login__text">Entre Ou <br> Cadastre-se</p>
    </a>
  </div>
</div>
