
<div class="conteiner title">
  <div class="title__capa">
    <div class="title__capa__options">
      <img alt="Card" class="title__capa__img" src="/assets/heroi.jpeg" />
      <img alt="Card" class="title__capa__img" src="/assets/heroi.jpeg" />
      <img alt="Card" class="title__capa__img" src="/assets/heroi.jpeg" />
    </div>
    <div class="title__capa__img">
      <img alt="Card" src="/assets/heroi.jpeg" />
    </div>
  </div>
  <div class="content">
    <h2 class="content__title">O Herói de Mil Faces</h2>
    <p class="content__subtitle">Autor: Joseph Campbell</p>
    <h3 class="content__price">R$ 31,22</h3>
    <p class="content__subtitle">Em até 4x de R$ 31,22 sem juros</p>
    <a href="#" class="content__link-options">Ver Mais Formas de Pagamento</a>
    <p class="content__delivery">
      <i class="pi pi-car"></i>
      Chegará entre os dias 11 e 14 abr. por R$ 47,52
    </p>
    <a href="#" class="content__link-options">Ver Mais Formas de Entregas</a>

    <p-divider></p-divider>
    <div class="content__qtd">
      <p class="content__subtitle">Quatidade Disponivel: <b>15</b></p>
      <div class="p-inputgroup">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-angle-down"
          styleClass="p-button-warn"
        ></button>
        <input
          type="number"
          class="content__qtd__input"
          pInputText
          [value]="1"
        />
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-angle-up"
          styleClass="p-button-warn"
        ></button>
      </div>
    </div>

    <p-divider></p-divider>
    <div class="content__buy">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-shopping-bag"
        class="buy__button"
        label="Comprar"
      ></button>
    </div>
    <div class="content__cart">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-shopping-cart"
        class="buy__button"
        label="Adivionar ao Carrinho"
      ></button>
    </div>
  </div>
</div>
<div class="conteiner">
  <h3 class="description__title">Descrição</h3>
  <p class="description__text">
    Apolo, Thor, Buda e outros numerosos protagonistas das religiões, das
    mitologias, dos contos de fada e do folclore universal representam
    simultaneamente as várias fases de uma mesma história. O relacionamento
    entre seus símbolos atemporais e os detectados nos sonhos pela moderna
    psicologia profunda é o ponto de partida da interpretação oferecida por
    Joseph Campbell, reconhecidamente um dos maiores estudiosos e mais profundos
    intérpretes da mitologia universal, nesse clássico obrigatório para
    compreender esse monomito que é a jornada do herói.
  </p>
</div>

<div class="conteiner">
  <h3 class="description__title">Características</h3>
  <table class="Characteristics__table">
    <tr>
        <td>Editora</td>
        <td>Pensamento; 1ª edição (3 janeiro 1989)</td>
    </tr>
    <tr>
        <td>Idioma</td>
        <td>Português</td>
    </tr>
    <tr>
        <td>Capa comum</td>
        <td>416 páginas</td>
    </tr>
    <tr>
        <td>Dimensões</td>
        <td>18.6 x 12.4 x 2.2 cm</td>
    </tr>
</table>
</div>
