<div class="title">
  <div class="title__capa">
    <img alt="Card" class="title__capa__img" src="/assets/heroi.jpeg" />
  </div>
  <div class="content">
    <h2 class="content__title">O Herói de Mil Faces</h2>
    <p class="content__subtitle">Autor: Joseph Campbell</p>
    <h3 class="content__price">R$ 31,22</h3>
    <p class="content__subtitle">Em até 4x de R$ 31,22 sem juros</p>
    <p-divider></p-divider>
    <div class="content__buy">
      <button
      pButton
      pRipple
      type="button"
      icon="pi pi-shopping-bag"
      class="buy__button"
      label="Comprar"
    ></button>
    </div>
  </div>
</div>
