.conteiner{
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  padding: 1em;
  margin: 1em 10em;
}

.title{
  display: flex;
  justify-content: space-between;
 // background-color: white;

}

.title__capa__options{
  width: 10%;
  max-height: 588px;

  img{
    width: 80%;
    margin-bottom: 1em;
  }

}

.title__capa{
  display: flex;
  width: 70%;
}

.title__capa__img{
  display: flex;
  justify-content: center;
  width: 100%;
  img{
    width: 25em;
  }
}


.content{
  width: 30%;
  padding: 1em;
}

.content__title{
  font-size: 2rem;
  font-weight: 100;

}

.content__subtitle{
  font-size: 0.9rem;
  color: var(--gray-700);
  margin-bottom: .5em;
}

.content__price{
  margin-top: 1em;
  font-size: 1.8rem;
  font-weight: 400;

}

.content__delivery{
margin-bottom: .5em;
margin-top: 2em;
}

.content__link-options{
  text-decoration: none;
  color: var(--blue-600);
}

.content__link-options:hover{
  color: var(--blue-500);
}

.content__qtd{
  width: 100%;
}

.content__qtd__input{
 text-align: center;

}

.content__buy{
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.content__cart{
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 1em;
}

.buy__button{
  width: 100%;
  border-radius: 50px 0px 50px 0;
}

.description__title{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.description__text{
  padding: 0 1em;
  font-size: 1rem;
  color: var(--gray-700);
  text-align: justify;
}

.Characteristics__table{
  width: 100%;
  color: var(--gray-700);
  border-collapse: collapse;
  padding: 0 1em;

  td{
    padding: 0.85rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  td:first-child{
    color: black;
    font-weight: 600;
  }

}
