<div class="slide">
  <div class="slide__control">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-chevron-left"
      class="p-button-rounded p-button-secondary p-button-text"
    ></button>
  </div>
  <div class="slide__conteiner">
    <div class="slide__content">
      <h2 class="slide__title">O Herói de Mil Faces</h2>
      <p class="slide__subtitle">
        Autor: Joseph Campbell | Editora: Pensamento; 1ª edição (3 janeiro 1989)
      </p>
      <p class="slide__sinopse">
        Apolo, Thor, Buda e outros numerosos protagonistas das religiões, das
        mitologias, dos contos de fada e do folclore universal representam
        simultaneamente as várias fases de uma mesma história. O relacionamento
        entre seus símbolos atemporais e os detectados nos sonhos pela moderna
        psicologia profunda é o ponto de partida da interpretação oferecida por
        Joseph Campbell, reconhecidamente um dos maiores estudiosos e mais
        profundos intérpretes da mitologia universal, nesse clássico obrigatório
        para compreender esse monomito que é a jornada do herói.
      </p>
      <div class="slide__price">
        <button
          pButton
          pRipple
          type="button"
          label="Saiba Mais"
          class="slide__price-button"
        ></button>
        <h3 class="price__number">R$ 56,99
          <p class="price__number-sub">Em até 4x de R$ 31,22 sem juros</p>
        </h3>
      </div>
    </div>
    <div class="slide__img">
      <img src="/assets/heroi.jpeg" />

    </div>
  </div>
  <div class="slide__control">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-chevron-right"
      class="p-button-rounded p-button-secondary p-button-text"
    ></button>
  </div>

</div>
