@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;900&family=Raleway:wght@100&display=swap";

:root{
  --font-nunito:'Nunito Sans', sans-serif;
  font-family: var(--font-nunito) ;
}

body{
  background-color: var(--gray-200);
}

input{
  border: 1px solid var(--gray-300) !important;
  width: 100% !important;
}

input:focus-visible{
  border: 1px solid var(--gray-600) !important;
  outline: 0;
}

.container{
  margin: 0 5em;
}
