@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;500;600;900&family=Raleway:wght@100&display=swap";

:root {
  --font-nunito: "Nunito Sans", sans-serif;
  font-family: var(--font-nunito);
}

body {
  background-color: var(--gray-200);
}

.input{
  border: 1px solid var(--gray-300) !important;
  width: 100% !important;
  padding: 1em !important;
  border-radius: 6px;
  font-size: 1rem;
  font-family: var(--font-nunito);
  transition: box-shadow 0.2s;
}

.input:hover {
  border: 1px solid var(--blue-500) !important;
}

.input:focus-visible {
  border: 1px solid var(--blue-500) !important;
  box-shadow: 0 0 0 0.2rem #bfdbfe;
  outline: 0;
}

.container {
  margin: 0 5em;
  height: 100%;
}

.p-dropdown {
  width: 100% !important;
  padding: 0.5em !important;
  font-size: 1rem;
  font-family: var(--font-nunito);
}

.p-button{
  padding: 0.75rem 2em;
}

main{
  min-height: calc(100vh - 30.6vh);
}
