<app-slide></app-slide>
<div class="subtitle">
  <h2 class="subtitle_text">Destaques</h2>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    iconPos="right"
    label="Ver Mais"
    class="p-button-text subtitle__button"
  ></button>
</div>
<div class="carousel">
  <p-carousel
    [value]="produtos"
    [page]="0"
    [numVisible]="5"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
  >
    <ng-template let-product pTemplate="item">
      <div class="carousel__card">
        <p-card [style]="{ width: '300px' }" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <div class="carousel__header">
              <img alt="Card" class="carousel__img" src="/assets/teste.jpg" />
            </div>
          </ng-template>

          <ng-template pTemplate="title">
            <h2 class="carousel__title">Uq Holder! - Vol. 1</h2>
          </ng-template>

          <ng-template pTemplate="subtitle">
            <p class="carousel__subtitle">R$ 13,99</p>
          </ng-template>

          <ng-template pTemplate="content">
            <p class="carousel__content">Em até 4x de R$ 31,22 sem juros</p>
          </ng-template>

          <ng-template pTemplate="footer">
            <div class="carousel__footer">
              <button
                pButton
                pRipple
                type="button"
                class="carousel__footer-button"
                label="Primary"
              ></button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="subtitle">
  <h2 class="subtitle_text">Gêneros</h2>
</div>

<div class="genres">
  <div class="carousel">
    <p-carousel
      [value]="produtos"
      [page]="0"
      [numVisible]="5"
      [numScroll]="1"
    >
      <ng-template let-product pTemplate="item">
              <div class="carousel__footer">
                <button
                  pButton
                  pRipple
                  type="button"
                  class="carousel__footer-button"
                  label="Romance"
                ></button>
              </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

