<div class="footer">
  <div class="footer__main">
    <div class="footer__logo">
      <img class="footer__logo__img" src="/assets/icon.png" alt="Web Livros" />
      <h1 class="footer__logo_text">Loja Online</h1>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav__list">
        <li class="list__item">
          <a class="list__item-action">
            Home
          </a>
        </li>
        <li class="list__item">
          <a class="list__item-action">
            Titulos
          </a>
        </li>
        <li class="list__item">
          <a class="list__item-action">
            Contatos
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- <hr class="footer__info__hr">
  <div class="footer__info">
      <p>© 2022 Loja Online</p>
      <div class="footer__rede">
        <a
          class=""
          ><i class="pi pi-twitter text-xl"></i></a
        ><a
          class=""
          ><i class="pi pi-facebook text-xl"></i></a
        ><a
          class=""
          ><i class="pi pi-github text-xl"></i
        ></a>
      </div>
  </div> -->
</div>
